dist: xenial   # required for Python >= 3.7
language: python
os:
  - linux
python:
  - "3.7"
sudo: false
install:
  # Python 3.x is default
  - wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  # Useful for debugging any issues with conda
  - conda info -a
  # Prepare env with Python version
  - conda create -n twitcher python=$TRAVIS_PYTHON_VERSION
  # Update now the env with our environment
  - conda env update -f environment.yml
  - source activate twitcher
  # Install twitcher
  - pip install ".[dev]"
stages:
  - test  # default (script)
jobs:
  include:
    - stage: test
      name: "Code Lint"
      script: flake8
    - stage: test
      name: "Unit Tests"
      script: make test-local
    - stage: test
      name: "Smoke Test"
      script: make docker-build docker-test
