pyramid>=1.10
pyramid_rpc
webob
requests
requests_oauthlib
argcomplete
pytz
lxml
pyopenssl
# debug
pyramid_debugtoolbar
# deploy
plaster_pastedeploy
# wsgi
gunicorn
waitress
# database
pyramid_retry
pyramid_tm
alembic
# 'sqlalchemy==2.0' breaks 'zope.sqlalchemy'
# (https://github.com/zopefoundation/zope.sqlalchemy/issues/60)
sqlalchemy>=1.4,<2
transaction
# avoid using 'zope.sqlalchemy==1.4' with regression since 'sqlalchemy==1.4' support
# (https://github.com/zopefoundation/zope.sqlalchemy/pull/66)
zope.sqlalchemy>=1.5
