pyramid>=1.10
webob
requests
argcomplete
pytz
lxml
pyopenssl
# rest api
cornice
cornice_swagger
colander
# debug
pyramid_debugtoolbar
# deploy
plaster_pastedeploy
# wsgi
waitress
# database
pyramid_retry
pyramid_tm
alembic
SQLAlchemy
transaction
zope.sqlalchemy
# oauth2
pyramid_oauthlib>=0.4.1
oauthlib<3
requests_oauthlib<1.2.0
PyJWT
